* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

nav {
    background: #04a54c;
    padding: 1rem 1rem 0 1rem;
    border-radius: 1rem 1rem 0 0;
    
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;     
}

.menu-icon img {
    width: 2rem;
    height: 2em;
}

.nav-title {
    display: flex;
    text-align: left;
    font-size: 1.8rem;
    font-weight: bolder;
    color:rgb(250, 142, 2);
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(75, 9, 9);
    
    align-items: center;
}

.nav-title img {
    width: 3rem;
    height: 3em;
}

.nav-title span {
    margin-left: 1rem;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}
.setting-menu {
    text-align: right;    
}

li, .setting-menu {
    list-style-type: none;
}

body {
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #4fc375;
}

table {
    border-collapse: collapse;
    width: 30rem;
    height: 30rem;
    margin: 0;
}

th, td {
    border: 1px solid black;
    padding: 1rem;
    height: 5rem;
    width: 5rem;
    font-weight: bold;
    padding: 2px;
}

input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.7rem;
}

canvas {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-container {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin-top: 2rem;
}

.flex-item {
    margin: 0 auto;
}

p > .flex-item  {
    margin-top: 2rem;
    text-align: center;
}

#tableContainer {
    text-align: center;    
}

.buttons {
    margin-top: 1rem;    
}

.button_item {
    width: 10rem;
    height: 4rem;
    margin: 0 1.5rem;
}

.operationSymbol {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
}

.calculationItem {
    font-size: 2rem;
}
.red-text {
    color: red;
}   

#scoreboard {
    height: 15rem;
    width: 15rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;   
}

#displayingScore100 {
    font-size: 3.2rem;
    font-weight: bold;
    animation: blink-effect100 0.5s step-end 5;
}

#displayingScoreOver80 {
    font-size: 3.2rem;
    animation: blink-effect 0.5s step-end 5;
}

#displayingScoreUnder80 {
    font-size: 3.2rem;
    font-weight: bold;
}

#settings {
    display: none;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 4.5rem;
    border: 1px solid red;
}

.setting-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.env-var {
    display: inline;
    font-size: 0.9rem;
    width: 4rem;
}


@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }

@keyframes blink-effect100 {
    10% {
        opacity: 0;
    }
    20% {
        opacity: 100;
        color: rgb(255, 0, 191);
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 100;
        color: rgb(47, 0, 255);
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 100;
        color: rgb(43, 226, 150);
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 100;
        color: rgb(200, 255, 0);
    }
    90% {
        opacity: 0;
        color: rgb(255, 217, 0);
    }
    100% {
        opacity: 100;
        color: rgb(226, 131, 43);
    }
}

    
