* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 50.5%;
}

nav {
    background: #04a54c;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 1rem 1rem 0 0;
    
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;     
}

.menu-icon img {
    width: 2rem;
    height: 2rem;
}

.nav-title {
    display: flex;
    text-align: left;
    font-size: 1.8rem;
    font-weight: bolder;
    color:rgb(250, 142, 2);
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(75, 9, 9);    
    align-items: center;
}

.nav-title img {
    width: 3rem;
    height: 3rem;
}

.nav-title span {
    margin-left: 1rem;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}
.setting-menu {
    text-align: right;    
}

li, .setting-menu {
    list-style-type: none;
}

body {
    background-color: #4fc375;
    min-width: 28rem;
}

table {
    border-collapse: collapse;
    width: 30rem;
    height: 30rem;
    margin: 0;
}

th, td {
    border: 0.1rem solid black;
    padding: 1rem;
    height: 5rem;
    width: 5rem;
    font-weight: bold;
    padding: 0.2rem;
}

input {
    width: 4.5rem;
    height: 4.5rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.7rem;
}

canvas {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group1, .group2 {
    width: 100%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 1rem;
}

.flex-item {
    margin: 0 auto;
    text-align: center;
}

#tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.buttons {
    margin-top: 1rem;  
}

.button_item {
    font-size : 1.4rem;
    width: 10rem;
    height: 4rem;
    margin: 0 1.5rem;
}

.operationSymbol {
    font-size: 2rem;
    font-weight: bold;
    color: blue;
}

.calculationItem {
    font-size: 2rem;
}
.red-text {
    color: red;
}   

#scoreboard {
    height: 18rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-align: center;  
    background-repeat: no-repeat;
}

#displayingScore100 {
    font-size: 3.2rem;
    font-weight: bold;
    animation: blink-effect100 0.5s step-end 5;
}

#displayingScoreOver80 {
    font-size: 3.2rem;
    animation: blink-effect 0.5s step-end 5;
}

#displayingScoreUnder80 {
    font-size: 3.2rem;
    font-weight: bold;
}

#settings {
    display: none;
    width: 68%;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    height: 4.5rem;
}

.setting-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.h-line {
    height: 0.2rem;
    background-color: black;
}

.env-var {
    display: inline;
    font-size: 1.1rem;
    width: 4rem;
    height: 2rem;
}


@keyframes blink-effect {
    50% {
      opacity: 0;
    }
  }

@keyframes blink-effect100 {
    10% {
        opacity: 0;
    }
    20% {
        opacity: 100;
        color: rgb(255, 0, 191);
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 100;
        color: rgb(47, 0, 255);
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 100;
        color: rgb(43, 226, 150);
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 100;
        color: rgb(200, 255, 0);
    }
    90% {
        opacity: 0;
        color: rgb(255, 217, 0);
    }
    100% {
        opacity: 100;
        color: rgb(226, 131, 43);
    }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
    .flex-container{
        display: flex;
        text-align: center;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
    }
    .group1 {
        width: auto;
        min-width: 35rem;
        margin: 1rem;
    }    
    .group2 {
        width: auto;
        margin: 1rem;
    }

    .buttons {
        height: 10rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .button_item {
        width: 16rem;
    }
}   

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    html {
        font-size: 100%;
    }

}  

@media screen and (min-width: 933px) and (max-width: 1180px) and (orientation: landscape) {
    html {
        font-size: 100%;
    }
    .flex-container{
        display: flex;
        text-align: center;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
    }
    .group1 {
        width: auto;
        min-width: 35rem;
        margin: 1rem;
    }    
    .group2 {
        width: auto;
        margin: 1rem;
    }

    .buttons {
        height: 10rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .button_item {
        width: 16rem;
    }
} 

@media screen and (min-width: 1181px) {
    html {
        font-size: 130%;
    }
    .flex-container{
        display: flex;
        text-align: center;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-end;
    }
    .group1 {
        width: auto;
        min-width: 35rem;
        margin: 1rem;
    }    
    .group2 {
        width: auto;
        margin: 1rem;
    }

    .buttons {
        height: 10rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .button_item {
        width: 16rem;
    }
}


